In [1]:
import sys; sys.version
import numpy as np

In [2]:
pip install jupyter_contrib_nbextensions
pip install jupyter_nbextensions_configurator
jupyter contrib nbextension install --user
jupyter nbextension enable toc2/main
jupyter nbextension enable collapsible_headings/main
jupyter nbextension enable spellchecker/main
jupyter nbextension enable code_prettify/code_prettify

SyntaxError: invalid syntax (905629226.py, line 1)

In [2]:
import pandas as pd

In [3]:
DATASET_URL = "https://raw.githubusercontent.com/kaiyungtan/challenge-data-analysis/master/data/raw/dataset_house_apartment.csv"
POSTAL_CODE_URL = "https://raw.githubusercontent.com/kaiyungtan/challenge-data-analysis/master/data/raw/code-postaux-belge.csv"


df = pd.read_csv(DATASET_URL, sep = ',')
postal_codes = pd.read_csv(POSTAL_CODE_URL, sep = ';')

In [4]:
df.shape

(52077, 20)

20

In [6]:
df.isnull().sum().sort_values(ascending=False)

surface_of_the_land            22724
number_of_rooms                    2
locality                           0
terrace_area                       0
state_of_the_building              0
swimming_pool                      0
number_of_facades                  0
surface_of_the_plot_of_land        0
garden_area                        0
garden                             0
terrace                            0
type_of_property                   0
open_fire                          0
furnished                          0
fully_equipped_kitchen             0
house_area                         0
type_of_sale                       0
price                              0
subtype_of_property                0
construction_year                  0
dtype: int64

In [12]:
for i in range [0,len()]

df['construction_year'].value_counts()

None    21369
2020     3987
2019     2329
2018     1073
1930      642
        ...
1809        1
1784        1
1777        1
1849        1
1791        1
Name: construction_year, Length: 220, dtype: int64

In [47]:
df['type_of_property'].value_counts()

house        29352
apartment    22723
Name: type_of_property, dtype: int64

In [16]:
df[['construction_year']]==[2017,2020]

ValueError: Unable to coerce to Series, length must be 1: given 2

In [33]:
#df[:df['construction_year']==2018]
test=df.loc[df['construction_year'] =='2018']

In [34]:
len(test)

1073

In [37]:
X = df.drop(columns='price')
y = df['price']

In [38]:
X

,locality,type_of_property,subtype_of_property,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,surface_of_the_plot_of_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
0,1050,house,house,for sale,6.0,203,1,None,0,1,None,0,None,95.0,None,2,0,to be done up,1901
1,1880,house,villa,for sale,6.0,250,1,None,0,1,40,1,430,826.0,None,4,0,as new,1992
2,4900,house,exceptional property,for sale,11.0,475,1,None,0,1,None,1,1400,1543.0,None,4,0,good,1853
3,7912,house,villa,for sale,4.0,325,1,None,0,1,125,1,2333,3570.0,None,4,0,good,1918
4,6032,house,house,for sale,5.0,400,1,None,0,1,80,1,500,616.0,None,3,0,as new,1977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52072,3120,house,house,for sale,3.0,None,0,None,0,0,None,0,None,695.0,None,None,0,None,None
52073,1800,house,house,for sale,3.0,None,0,None,0,0,None,0,None,550.0,None,3,0,None,None
52074,2018,house,house,for sale,3.0,145,0,None,0,0,None,1,48,0.0,None,3,0,None,None
52075,9140,house,house,for sale,3.0,None,0,None,0,0,None,0,None,1202.0,None,4,0,None,None
52076,9620,house,house,for sale,3.0,None,0,None,0,0,None,0,None,1500.0,None,4,0,None,None

In [40]:
(df.isnull().sum()/len(df))*100

locality                        0.000000
type_of_property                0.000000
subtype_of_property             0.000000
price                           0.000000
type_of_sale                    0.000000
number_of_rooms                 0.003840
house_area                      0.000000
fully_equipped_kitchen          0.000000
furnished                       0.000000
open_fire                       0.000000
terrace                         0.000000
terrace_area                    0.000000
garden                          0.000000
garden_area                     0.000000
surface_of_the_land            43.635386
surface_of_the_plot_of_land     0.000000
number_of_facades               0.000000
swimming_pool                   0.000000
state_of_the_building           0.000000
construction_year               0.000000
dtype: float64

In [60]:
for i in range(0,len(test.columns)):
    print(i)
    print(test.iloc[:,i].value_counts())

0
8300    33
3600    29
8770    28
1180    28
3920    24
        ..
7500     1
1490     1
3390     1
2350     1
9070     1
Name: locality, Length: 291, dtype: int64
1
apartment    834
house        239
Name: type_of_property, dtype: int64
2
apartment               628
house                   216
duplex                   53
penthouse                49
ground floor             44
service flat             34
flat studio              15
villa                    12
loft                      9
apartment block           5
exceptional property      5
kot                       1
triplex                   1
mixed use building        1
Name: subtype_of_property, dtype: int64
3
245000    14
225000    14
255000    13
295000    12
269000    12
          ..
274496     1
255486     1
270555     1
278548     1
498000     1
Name: price, Length: 506, dtype: int64
4
for sale    1073
Name: type_of_sale, dtype: int64
5
2.0    478
3.0    345
1.0    172
4.0     60
0.0     14
5.0      3
6.0      1
Name: number_of_rooms, dtype: int64
6
None    112
100      20
120      20
90       19
102      16
       ...
177       1
192       1
236       1
147       1
228       1
Name: house_area, Length: 180, dtype: int64
7
1    645
0    428
Name: fully_equipped_kitchen, dtype: int64
8
None    1073
Name: furnished, dtype: int64
9
0    1066
1       7
Name: open_fire, dtype: int64
10
1    801
0    272
Name: terrace, dtype: int64
11
None    458
8        49
12       46
10       44
11       39
       ...
127       1
66        1
56        1
34        1
51        1
Name: terrace_area, Length: 76, dtype: int64
12
0    802
1    271
Name: garden, dtype: int64
13
None    913
5000     21
1000      5
50        4
600       3
       ...
88        1
31        1
24        1
246       1
287       1
Name: garden_area, Length: 103, dtype: int64
14
0.0      31
350.0     4
285.0     4
550.0     4
109.0     3
         ..
96.0      1
128.0     1
342.0     1
88.0      1
279.0     1
Name: surface_of_the_land, Length: 156, dtype: int64
15
None    1073
Name: surface_of_the_plot_of_land, dtype: int64
16
None    457
2       296
3       159
4       156
1         5
Name: number_of_facades, dtype: int64
17
0    1066
1       7
Name: swimming_pool, dtype: int64
18
as new            580
None              410
good               77
just renovated      6
Name: state_of_the_building, dtype: int64
19
2018    1073
Name: construction_year, dtype: int64

In [44]:
#drop NA from number of rooms 
df=df.dropna(subset=['number_of_rooms'])

In [45]:
(df.isnull().sum()/len(df))*100

locality                        0.000000
type_of_property                0.000000
subtype_of_property             0.000000
price                           0.000000
type_of_sale                    0.000000
number_of_rooms                 0.000000
house_area                      0.000000
fully_equipped_kitchen          0.000000
furnished                       0.000000
open_fire                       0.000000
terrace                         0.000000
terrace_area                    0.000000
garden                          0.000000
garden_area                     0.000000
surface_of_the_land            43.635142
surface_of_the_plot_of_land     0.000000
number_of_facades               0.000000
swimming_pool                   0.000000
state_of_the_building           0.000000
construction_year               0.000000
dtype: float64

In [59]:
len(df)

52075